.root {
	opacity: 0;
	transition: .3s;
	width: 300px;
	border-left: 1px solid rgba(42, 46, 46, 0.76);
	padding: 16px;
	display: flex;
	flex-direction: column;
}
.active {
	opacity: 1;
}

.title {
	margin-top: 0;
}

.btnSection {
	margin-top: auto;
}

.configBody {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
